/* Put Application specific CSS here. */
#logo {
    margin:0 auto; 
    width: 250px; 
    height: 65px; 
    margin-top: 100px; 
    margin-bottom: 80px;
}

.listQuestion, .listAnswer {
    font-size: 10px;
    text-shadow: black 0 0 5px;
}

.listQuestion {
    font-size: 14px;
    font-weight:bold;
}

.listAnswer a{
    text-decoration:none;
    color:gray;
    line-height:12px;
}