.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  background-color: transparent;

  input {
    height: 60px;
    text-indent: 25px;

    &:focus {
      box-shadow: none;
      border: 2px solid var(--bs-primary);
    }
  }

  .bi-search {
    position: absolute;
    top: 18px;
    left: 18px;
  }

  button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
  }
}

.autocomplete {
  @extend .list-group;
  z-index: 1000;
}

.autocomplete > div {
  font-size: 12px;
  line-height: 21px;
  padding: 0 9px 2px;
}

.autocomplete > li:hover,
.autocomplete > li.selected {
  @extend .list-group-item-info;
  cursor: pointer;
}
