// Top header navigation links
.pmf-nav-link {
  @extend .nav-link;
  @extend .px-2;
  @extend .text-white;
}

// Footer navigation links
.pmf-nav-link-footer {
  @extend .nav-link;
  @extend .px-2;
  @extend .link-light;
}

@media (min-width: 992px) {
  li.searchNav {
    display: none !important;
  }
  div.searchContainer {
    display: block;
  }
}
.pmf-nav-link.active {
  border-radius: 5px;
  background-color: var(--bs-primary);
}