; top-most EditorConfig file
root = true

; Unix-style newlines
[*]
end_of_line = LF
insert_final_newline = true

# PHP files
[{*.php}]
indent_style = space
indent_size = 4

# HTML, SCSS and JS files
[{*.html,*.scss,*.js}]
indent_style = space
indent_size = 2

# JSON and LESS files
[{package.json,.travis.yml,*.less}]
indent_style = space
indent_size = 2