# Eclipse folders and files
.cache*
.project
.settings*
.buildpath

# PhpStorm folder
.idea*

# phpMyFAQ generated folders

phpmyfaq/config/database.php
phpmyfaq/config/database.bak.php
phpmyfaq/config/index.html
phpmyfaq/data*
phpmyfaq/pdf*
phpmyfaq/xml*
phpmyfaq/attachments*
phpmyfaq/inc/data.php
phpmyfaq/inc/index.html
