phpmyfaq/admin/assets/less            export-ignore
phpmyfaq/assets/template/default/less export-ignore
scripts                               export-ignore
tests                                 export-ignore