[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "vendor/Font-Awesome"]
	path = vendor/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
