# Eclipse folders and files
.cache*
.project
.settings*
.buildpath

# PhpStorm folder
.idea*

# Mac OS X crap
.DS_Store

# Builds
build/*

# phpMyFAQ generated folders
phpmyfaq/config/database.php
phpmyfaq/config/database.bak.php
phpmyfaq/config/ldap.php
phpmyfaq/config/ldap.bak.php
phpmyfaq/config/index.html
phpmyfaq/data/*
phpmyfaq/images/*
phpmyfaq/attachments/*

# .htaccess, if used
phpmyfaq/.htaccess

# Third party PHP libraries
phpmyfaq/inc/libs/phpseclib
phpmyfaq/inc/libs/twitteroauth
phpmyfaq/inc/libs/Symfony

# Third party frontend libraries
phpmyfaq/admin/assets/css/
phpmyfaq/admin/assets/fonts/*
phpmyfaq/assets/js/modernizr.min.js
phpmyfaq/assets/js/phpmyfaq.js
phpmyfaq/assets/js/phpmyfaq.min.js
phpmyfaq/assets/template/default/css/*
phpmyfaq/assets/template/default/fonts/*

# Composer related stuff
bin/*
vendor/*

# Bower related stuff
components/*

# node.js modules for development
node_modules/*