# Eclipse folders and files
.cache*
.project
.settings*
.buildpath

# PhpStorm/IntelliJ folder
.idea*

# Mac OS X crap
.DS_Store

# Builds
build/*

# Docker persistent data
volumes/*

# phpMyFAQ generated folders
phpmyfaq/config/database.php
phpmyfaq/config/database.php.bak
phpmyfaq/config/ldap.php
phpmyfaq/config/ldap.php.bak
phpmyfaq/config/elasticsearch.php
phpmyfaq/config/elasticsearch.php.bak
phpmyfaq/config/index.html
phpmyfaq/data/*
phpmyfaq/images/*
phpmyfaq/attachments/*

# .htaccess, if used
phpmyfaq/.htaccess

# Third party PHP libraries
phpmyfaq/src/libs/abraham
phpmyfaq/src/libs/elasticsearch
phpmyfaq/src/libs/guzzlehttp/ringphp
phpmyfaq/src/libs/monolog
phpmyfaq/src/libs/parsedown
phpmyfaq/src/libs/phpseclib
phpmyfaq/src/libs/psr
phpmyfaq/src/libs/react
phpmyfaq/src/libs/swiftmailer
phpmyfaq/src/libs/symfony
phpmyfaq/src/libs/tcpdf/config
phpmyfaq/src/libs/tcpdf/include
phpmyfaq/src/libs/tcpdf/*.php

# Third party frontend libraries and generated JS/CSS
phpmyfaq/admin/assets/css
phpmyfaq/admin/assets/fonts
phpmyfaq/admin/assets/icons
phpmyfaq/admin/assets/js/editor/tinymce.min.js
phpmyfaq/admin/assets/js/editor/plugins/
phpmyfaq/admin/assets/js/editor/skins/
phpmyfaq/admin/assets/js/editor/themes/
phpmyfaq/assets/fonts
phpmyfaq/assets/icons
phpmyfaq/assets/js/libs
phpmyfaq/assets/js/modernizr.min.js
phpmyfaq/assets/js/phpmyfaq.js
phpmyfaq/assets/js/phpmyfaq.js.map
phpmyfaq/assets/js/phpmyfaq.min.js
phpmyfaq/assets/js/vendors.js
phpmyfaq/assets/js/vendors.js.map
phpmyfaq/assets/svg/*.svg
phpmyfaq/assets/themes/default/css/*.css
phpmyfaq/assets/themes/default/css/*.map
phpmyfaq/assets/themes/default/fonts/*

# Composer related stuff
bin/*
vendor/*

# node.js modules for development
node_modules/*

# Backup folder
backup/*
