# Ignore 3rd party code
phpmyfaq/admin/assets/js/editor/
phpmyfaq/src/libs/

# Ignore all PHP files
*.php

# Ignore code for build
.github
composer.json
composer.lock
docker-compose.yml
package.json
pnpm-lock.yaml

# Ignore artifacts
phpmyfaq/assets/public/

# Ignore PNPM Cache
.pnpm-store

