# Ignore 3rd party code
phpmyfaq/admin/assets/js/editor/
phpmyfaq/src/libs/

# Ignore all PHP and Markdown files
*.php
*.md

# Ignore code for build
.github
composer.json
composer.lock
docker-compose.yml
package.json
pnpm-lock.yaml

# Ignore artifacts
phpmyfaq/assets/dist/

# Ignore PNPM Cache
.pnpm-store

