version: '3'

# Use this file for development

services:
  mariadb:
    image: mariadb:latest
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=iop
      - MYSQL_DATABASE=phpmyfaq
      - MYSQL_USER=phpmyfaq
      - MYSQL_PASSWORD=phpmyfaq
      - MYSQL_ROOT_HOST=%
    ports:
      - '3306:3306'
    volumes:
      - ./volumes/mariadb:/var/lib/mysql

  postgres:
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_DB=phpmyfaq
      - POSTGRES_USER=phpmyfaq
      - POSTGRES_PASSWORD=phpmyfaq
    ports:
      - 5432:5432
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data

  phpmyfaq:
    build: .
    restart: always
    stdin_open: true
    environment:
      - PMF_DB_HOST=db
      - PMF_DB_NAME=phpmyfaq
      - PMF_DB_USER=phpmyfaq
      - PMF_DB_PASS=phpmyfaq
      - PMF_DISABLE_HTACCESS=""
      - PMF_TIMEZONE="Europe/Berlin"
      - PMF_ENABLE_UPLOADS="On"
      - PMF_MEMORY_LIMIT="2048M"
      - PHP_LOG_ERRORS="On"
      - PHP_ERROR_REPORTING="E_ALL & E_DEPRECATED & E_STRICT" # Production Value: E_ALL & ~E_DEPRECATED & ~E_STRICT
    links:
      - mariadb:db
      - postgres
      - elasticsearch
    ports:
      - '8080:80'
    volumes:
      - ./phpmyfaq:/var/www/html
    depends_on:
      - yarn

  yarn:
    image: node:12
    restart: 'no'
    command: sh -c "npm install node-sass -g --unsafe-perm && yarn install && yarn build"
    working_dir: /app
    stdin_open: true
    tty: true
    volumes:
      - .:/app
    depends_on:
      - composer

  composer:
    image: composer:latest
    restart: 'no'
    command: composer install --verbose --ignore-platform-reqs
    stdin_open: true
    tty: true
    volumes:
      - .:/app

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    stdin_open: true
    links:
      - mariadb:db
    ports:
      - '8000:80'
    volumes:
      - ./volumes/sessions:/sessions

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.6.9
    container_name: elasticsearch
    restart: always
    environment:
      - cluster.name=phpmyfaq-cluster
      - bootstrap.memory_lock=true
      - 'ES_JAVA_OPTS=-Xms512m -Xmx512m'
      - xpack.security.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./volumes/esdata:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
