version: '3'

# Use this file for development only

services:

  mariadb:
    image: mariadb:latest
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=iop
      - MYSQL_DATABASE=phpmyfaq
      - MYSQL_USER=phpmyfaq
      - MYSQL_PASSWORD=phpmyfaq
      - MYSQL_ROOT_HOST=%
    ports:
      - '3306:3306'
    volumes:
      - ./volumes/mariadb:/var/lib/mysql

  postgres:
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_DB=phpmyfaq
      - POSTGRES_USER=phpmyfaq
      - POSTGRES_PASSWORD=phpmyfaq
    ports:
      - '5432:5432'
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data

  sqlserver:
    image: microsoft/mssql-server-linux:2017-latest
    ports:
      - 1433:1433
    environment:
      SA_PASSWORD: 'phpMyFAQ-3.2'
      ACCEPT_EULA: 'Y'

  phpmyfaq:
    build: .
    restart: always
    stdin_open: true
    environment:
      - PMF_DB_HOST=db
      - PMF_DB_NAME=phpmyfaq
      - PMF_DB_USER=phpmyfaq
      - PMF_DB_PASS=phpmyfaq
      - PMF_DISABLE_HTACCESS=""
      - PMF_TIMEZONE="Europe/Berlin"
      - PMF_ENABLE_UPLOADS="On"
      - PMF_MEMORY_LIMIT="2048M" # only for development
      - PHP_LOG_ERRORS="On"
      - PHP_ERROR_REPORTING="E_ALL & E_DEPRECATED & E_STRICT" # Production Value: E_ALL & ~E_DEPRECATED & ~E_STRICT
    links:
      - mariadb:db
      - postgres
      - elasticsearch
    ports:
      - '8080:80'
    volumes:
      - ./phpmyfaq:/var/www/html
    depends_on:
      - yarn

  yarn:
    image: node:14
    restart: 'no'
    command: sh -c "npm install node-sass -g --unsafe-perm && yarn install && yarn build"
    working_dir: /app
    stdin_open: true
    tty: true
    volumes:
      - .:/app
    depends_on:
      - composer

  composer:
    image: composer:latest
    restart: 'no'
    command: composer install --verbose --ignore-platform-reqs
    stdin_open: true
    tty: true
    volumes:
      - .:/app

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    stdin_open: true
    links:
      - mariadb:db
    ports:
      - '8000:80'
    volumes:
      - ./volumes/sessions:/sessions

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: postgres@phpmyfaq.de
      PGADMIN_DEFAULT_PASSWORD: postgres
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - ./volumes/pgadmin:/root/.pgadmin
    ports:
      - '8008:80'

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.2
    container_name: phpmyfaq-32_elasticsearch-v7
    restart: always
    environment:
      - cluster.name=phpmyfaq-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - 'ES_JAVA_OPTS=-Xms512m -Xmx512m'
      - xpack.security.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    user: elasticsearch
    command:
      [
        'sh',
        '-c',
        './bin/elasticsearch-plugin list | grep -q analysis-icu || ./bin/elasticsearch-plugin install analysis-icu && ./bin/elasticsearch',
      ]
    volumes:
      - ./volumes/esdata:/usr/share/elasticsearch/data
    ports:
      - '9200:9200'
      - '9300:9300'

  openldap:
    image: osixia/openldap:1.5.0
    container_name: phpmyfaq-32_openldap
    environment:
      LDAP_LOG_LEVEL: "256"
      LDAP_ORGANISATION: "phpMyFAQ Development Team"
      LDAP_DOMAIN: "phpmyfaq.de"
      LDAP_BASE_DN: ""
      LDAP_ADMIN_PASSWORD: "phpmyfaq"
      LDAP_CONFIG_PASSWORD: "phpmyfaq"
      LDAP_READONLY_USER: "false"
      LDAP_RFC2307BIS_SCHEMA: "false"
      LDAP_BACKEND: "mdb"
      LDAP_TLS: "true"
      LDAP_TLS_CRT_FILENAME: "ldap.crt"
      LDAP_TLS_KEY_FILENAME: "ldap.key"
      LDAP_TLS_DH_PARAM_FILENAME: "dhparam.pem"
      LDAP_TLS_CA_CRT_FILENAME: "ca.crt"
      LDAP_TLS_ENFORCE: "false"
      LDAP_TLS_CIPHER_SUITE: "SECURE256:-VERS-SSL3.0"
      LDAP_TLS_VERIFY_CLIENT: "demand"
      LDAP_REPLICATION: "false"
      #LDAP_REPLICATION_CONFIG_SYNCPROV: 'binddn="cn=admin,cn=config" bindmethod=simple credentials="$$LDAP_CONFIG_PASSWORD" searchbase="cn=config" type=refreshAndPersist retry="60 +" timeout=1 starttls=critical'
      #LDAP_REPLICATION_DB_SYNCPROV: 'binddn="cn=admin,$$LDAP_BASE_DN" bindmethod=simple credentials="$$LDAP_ADMIN_PASSWORD" searchbase="$$LDAP_BASE_DN" type=refreshAndPersist interval=00:00:00:10 retry="60 +" timeout=1 starttls=critical'
      #LDAP_REPLICATION_HOSTS: "#PYTHON2BASH:['ldap://ldap.example.org','ldap://ldap2.example.org']"
      KEEP_EXISTING_CONFIG: "false"
      LDAP_REMOVE_CONFIG_AFTER_SETUP: "true"
      LDAP_SSL_HELPER_PREFIX: "ldap"
    tty: true
    stdin_open: true
    volumes:
      - /var/lib/ldap
      - /etc/ldap/slapd.d
      - /container/service/slapd/assets/certs/
    ports:
      - "389:389"
      - "636:636"
    domainname: "phpmyfaq.de"
    hostname: "ldap-server"

  phpldapadmin:
    image: osixia/phpldapadmin:latest
    container_name: phpmyfaq-32_phpldapadmin
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "openldap"
      PHPLDAPADMIN_HTTPS: "false"
    ports:
      - '8088:80'
    depends_on:
      - openldap
