<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.3/phpunit.xsd" bootstrap="tests/bootstrap.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         testdox="false"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="phpMyFAQ Test Suite">
            <directory>./tests/phpMyFAQ</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <text outputFile="coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
            <html outputDirectory="html-coverage" lowUpperBound="50" highLowerBound="80"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">./phpmyfaq/src/phpMyFAQ</directory>
        </include>
        <exclude>
            <directory suffix=".php">./phpmyfaq/src/libs</directory>
        </exclude>
    </source>
    <php>
        <server name="HTTP_HOST" value="localhost" />
        <server name="PHP_AUTH_USER" value="testUser"/>
        <server name="PHP_AUTH_PW" value="testPassword"/>
        <ini name="memory_limit" value="512M" />
    </php>
</phpunit>
