##
# phpMyFAQ .htaccess file for Apache 2.x
#
# This Source Code Form is subject to the terms of the Mozilla Public License,
# v. 2.0. If a copy of the MPL was not distributed with this file, You can
# obtain one at https://mozilla.org/MPL/2.0/.
#
# @author    Thorsten Rinne <thorsten@phpmyfaq.de>
# @author    Patrick Preuster <sica@php-q.net>
# @author    Matteo Scaramuccia <matteo@scaramuccia.com>
# @copyright 2004-2024 phpMyFAQ Team
# @license   http://www.mozilla.org/MPL/2.0/ Mozilla Public License Version 2.0
# @link      https://www.phpmyfaq.de
# @since     2004-11-13

DirectoryIndex index.php

# always follow the symlinks
<IfModule mod_negotiation.c>
    Options +FollowSymlinks -MultiViews -Indexes
</IfModule>

# X-Frame-Options to prevent clickjacking
Header always append X-Frame-Options SAMEORIGIN

# CORS
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET,PUT,POST,DELETE"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"

# Set cache control
<filesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
    Header set Cache-Control "max-age=84600, no-store"
    Header set Pragma "no-cache"
</filesMatch>

# Set mod_rewrite
<IfModule mod_rewrite.c>
    # This has to be 'On'
    RewriteEngine On

    <IfModule mod_fcgid.c>
        RewriteCond %{HTTP:Authorization} .
        RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    </IfModule>

    # the path to your phpMyFAQ installation
    RewriteBase /

    # Error pages
    ErrorDocument 404 /index.php?action=404

    # General pages
    RewriteRule addcontent.html$ index.php?action=add [L,QSA]
    RewriteRule show-categories.html$ index.php?action=show [L,QSA]
    RewriteRule ^(search|ask|open-questions|contact|glossary|overview|login|privacy)\.html$ index.php?action=$1 [L,QSA]
    RewriteRule ^(login) index.php?action=login [L,QSA]

    # start page
    RewriteRule ^index.html$ index.php [PT]

    # a solution ID page
    RewriteCond %{REQUEST_URI} solution_id_([0-9]+)\.html$ [NC]
    RewriteRule ^solution_id_(.*)\.html$ index.php?solution_id=$1 [L,QSA]

    # the bookmarks page
    RewriteRule ^bookmarks\.html$ index.php?action=bookmarks [L,QSA]

    # phpMyFAQ faq record page
    RewriteRule ^content/([0-9]+)/([0-9]+)/([a-z\-]+)/(.+)\.htm(l?)$ index.php?action=faq&cat=$1&id=$2&artlang=$3 [L,QSA]

    # phpMyFAQ category page with page count
    RewriteRule ^category/([0-9]+)/([0-9]+)/(.+)\.htm(l?)$ index.php?action=show&cat=$1&seite=$2 [L,QSA]

    # phpMyFAQ category page
    RewriteRule ^category/([0-9]+)/(.+)\.htm(l?)$ index.php?action=show&cat=$1 [L,QSA]

    # phpMyFAQ news page
    RewriteRule ^news/([0-9]+)/([a-z\-]+)/(.+)\.htm(l?)$ index.php?action=news&newsid=$1&newslang=$2 [L,QSA]

    # phpMyFAQ sitemap
    RewriteRule ^sitemap/([^\/]+)/([a-z\-]+)\.htm(l?)$ index.php?action=sitemap&letter=$1&lang=$2 [L,QSA]

    # phpMyFAQ Google sitemap
    RewriteRule ^sitemap.xml$ sitemap.xml.php [L]
    RewriteRule ^sitemap.gz$ sitemap.xml.php?gz=1 [L]
    RewriteRule ^sitemap.xml.gz$ sitemap.xml.php?gz=1 [L]

    # phpMyFAQ tags page with page count
    RewriteRule ^tags/([0-9]+)/([0-9]+)/(.+)\.htm(l?)$ index.php?action=search&tagging_id=$1&seite=$2 [L,QSA]

    # phpMyFAQ tags page
    RewriteRule ^tags/([0-9]+)/([^\/]+)\.htm(l?)$ index.php?action=search&tagging_id=$1 [L,QSA]

    # User pages
    RewriteRule ^user/(ucp|bookmarks|request-removal|logout|register) index.php?action=$1 [L,QSA]

    # Administration API
    RewriteRule ^admin/api/(.*) admin/api/index.php [L,QSA]

    # Private APIs
    RewriteRule ^api/(autocomplete|bookmark/([0-9]+)|user/data/update|user/password/update|user/request-removal|contact|voting|register|captcha|share|comment/create|faq/create|question/create) api/index.php [L,QSA]

    # Setup APIs
    RewriteRule ^api/setup/(check|backup|update-database) api/index.php [L,QSA]

    # REST API v3.0
    # * http://[...]/api/v3.0/<ACTION>
    RewriteRule ^api/v3.0/(.*) api/index.php [L,QSA]

</IfModule>
