<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <configSections>
        <sectionGroup name="system.webServer">
            <sectionGroup name="rewrite">
                <section name="rewriteMaps" overrideModeDefault="Allow"/>
                <section name="rules" overrideModeDefault="Allow"/>
            </sectionGroup>
        </sectionGroup>
    </configSections>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule 1L" stopProcessing="true">
                    <match url="^phpmyfaq/(.*)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=show" appendQueryString="true"/>
                </rule>
                <rule name="rule 2L" stopProcessing="true">
                    <match url="^phpmyfaq/(.*)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=search" appendQueryString="true"/>
                </rule>
                <rule name="rule 3L" stopProcessing="true">
                    <match url="^phpmyfaq/(.*)$"/>
                    <action type="Rewrite" url="/phpmyfaq/opensearch.php" appendQueryString="true"/>
                </rule>
                <rule name="rule 4L" stopProcessing="true">
                    <match url="^phpmyfaq/(.*)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=add" appendQueryString="true"/>
                </rule>
                <rule name="rule 5L" stopProcessing="true">
                    <match url="^phpmyfaq/(.*)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=ask" appendQueryString="true"/>
                </rule>
                <rule name="rule 6L" stopProcessing="true">
                    <match url="^phpmyfaq/(.*)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=open" appendQueryString="true"/>
                </rule>
                <rule name="rule 7L" stopProcessing="true">
                    <match url="^phpmyfaq/(.*)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=help" appendQueryString="true"/>
                </rule>
                <rule name="rule 8L" stopProcessing="true">
                    <match url="^phpmyfaq/(.*)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=contact" appendQueryString="true"/>
                </rule>
                <rule name="rule 9L" stopProcessing="true">
                    <match url="^phpmyfaq/(.*)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=glossary" appendQueryString="true"/>
                </rule>
                <rule name="rule 10L" stopProcessing="true">
                    <match url="^phpmyfaq/(.*)_(.*)_(.*)\.html$"/>
                    <action type="Rewrite"
                            url="/phpmyfaq/index.php?action=artikel&amp;cat={R:1}&amp;id={R:2}&amp;artlang={R:3}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 11L" stopProcessing="true">
                    <match url="^phpmyfaq/category(.*)_(.*)\.html$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=show&amp;cat={R:1}&amp;seite={R:2}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 12L" stopProcessing="true">
                    <match url="^phpmyfaq/category(.*)\.html$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=show&amp;cat={R:1}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 13L">
                    <match url="^phpmyfaq/index.html$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php"/>
                </rule>
                <rule name="rule 14L" stopProcessing="true">
                    <match url="^phpmyfaq/sitemap-(.*)_(.*)\.html$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=sitemap&amp;letter={R:1}&amp;lang={R:2}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 15L" stopProcessing="true">
                    <match url="^phpmyfaq/solution_id_(.*)\.html$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?solution_id={R:1}" appendQueryString="true"/>
                </rule>
                <rule name="rule 16L" stopProcessing="true">
                    <match url="phpmyfaq/content/([0-9]+)/([0-9]+)/([a-z\-]+)/(.+)\.htm(l?)$"/>
                    <action type="Rewrite"
                            url="/phpmyfaq/index.php?action=artikel&amp;cat={R:1}&amp;id={R:2}&amp;artlang={R:3}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 17L" stopProcessing="true">
                    <match url="phpmyfaq/category/([0-9]+)/([0-9]+)/(.+)\.htm(l?)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=show&amp;cat={R:1}&amp;seite={R:2}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 18L" stopProcessing="true">
                    <match url="phpmyfaq/category/([0-9]+)/(.+)\.htm(l?)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=show&amp;cat={R:1}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 19L" stopProcessing="true">
                    <match url="phpmyfaq/news/([0-9]+)/([a-z\-]+)/(.+)\.htm(l?)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=news&amp;newsid={R:1}&amp;newslang={R:2}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 20L" stopProcessing="true">
                    <match url="phpmyfaq/sitemap/([^\/]+)/([a-z\-]+)\.htm(l?)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=sitemap&amp;letter={R:1}&amp;lang={R:2}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 21L" stopProcessing="true">
                    <match url="phpmyfaq/sitemap.xml$"/>
                    <action type="Rewrite" url="/phpmyfaq/sitemap.xml.php"/>
                </rule>
                <rule name="rule 22L" stopProcessing="true">
                    <match url="phpmyfaq/sitemap.gz$"/>
                    <action type="Rewrite" url="/phpmyfaq/sitemap.xml.php?gz=1"/>
                </rule>
                <rule name="rule 23L" stopProcessing="true">
                    <match url="phpmyfaq/sitemap.xml.gz$"/>
                    <action type="Rewrite" url="/phpmyfaq/sitemap.xml.php?gz=1"/>
                </rule>
                <rule name="rule 24L" stopProcessing="true">
                    <match url="phpmyfaq/tags/([0-9]+)/([0-9]+)/(.+)\.htm(l?)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=search&amp;tagging_id={R:1}&amp;seite={R:2}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 25L" stopProcessing="true">
                    <match url="phpmyfaq/tags/([0-9]+)/([^\/]+)\.htm(l?)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=search&amp;tagging_id={R:1}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 26L" stopProcessing="true">
                    <match url="^phpmyfaq/(.*)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=instantresponse" appendQueryString="true"/>
                </rule>
                <rule name="rule 27L" stopProcessing="true">
                    <match url="phpmyfaq/api/getVersion"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getVersion" appendQueryString="true"/>
                </rule>
                <rule name="rule 28L" stopProcessing="true">
                    <match url="phpmyfaq/api/getApiVersion"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getApiVersion" appendQueryString="true"/>
                </rule>
                <rule name="rule 29L" stopProcessing="true">
                    <match url="phpmyfaq/api/search/([a-z\-]+)/([a-z\-]+)$"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=search&amp;lang={R:1}&amp;q={R:2}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 30L" stopProcessing="true">
                    <match url="phpmyfaq/api/getCategories/([a-z\-]+)"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getCategories&amp;lang={R:1}" appendQueryString="true"/>
                </rule>
                <rule name="rule 31L" stopProcessing="true">
                    <match url="phpmyfaq/api/getFaqs/([a-z\-]+)/([0-9]+)"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getFaqs&amp;lang={R:1}&amp;categoryId={R:2}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 32L" stopProcessing="true">
                    <match url="phpmyfaq/api/getFaq/([a-z\-]+)/([0-9]+)"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getFaq&amp;lang={R:1}&amp;recordId={R:2}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 33L" stopProcessing="true">
                    <match url="phpmyfaq/api/getCount"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getCount" appendQueryString="true"/>
                </rule>
                <rule name="rule 34L" stopProcessing="true">
                    <match url="phpmyfaq/api/getDefaultLanguage"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getDefaultLanguage" appendQueryString="true"/>
                </rule>
                <rule name="rule 35L" stopProcessing="true">
                    <match url="phpmyfaq/api/getAttachmentsFromFaq/([a-z\-]+)/([0-9]+)"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getAttachmentsFromFaq&amp;lang={R:1}&amp;recordId={R:2}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 36L" stopProcessing="true">
                    <match url="phpmyfaq/api/getFaqAsPdf/([a-z\-]+)/([0-9]+)/([0-9]+)"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getFaqAsPdf&amp;lang={R:1}&amp;categoryId={R:2}&amp;recordId={R:3}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 37L" stopProcessing="true">
                    <match url="phpmyfaq/api/getPopular/([a-z\-]+)"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getPopular&amp;lang={R:1}" appendQueryString="true"/>
                </rule>
                <rule name="rule 38L" stopProcessing="true">
                    <match url="phpmyfaq/api/getLatest/([a-z\-]+)"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getLatest&amp;lang={R:1}" appendQueryString="true"/>
                </rule>
                <rule name="rule 39L" stopProcessing="true">
                    <match url="phpmyfaq/api/getNews/([a-z\-]+)"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getNews&amp;lang={R:1}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 40L" stopProcessing="true">
                    <match url="phpmyfaq/api/getAllFaqs/([a-z\-]+)"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getAllFaqs&amp;lang={R:1}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 41L" stopProcessing="true">
                    <match url="phpmyfaq/api/getPopularSearches/([a-z\-]+)"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getPopularSearches&amp;lang={R:1}"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 42L" stopProcessing="true">
                    <match url="^phpmyfaq/(.*)$"/>
                    <action type="Rewrite" url="/phpmyfaq/index.php?action=overview" appendQueryString="true"/>
                </rule>
                <rule name="rule 43L" stopProcessing="true">
                    <match url="phpmyfaq/api/getPopularTags"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getPopularTags"
                            appendQueryString="true"/>
                </rule>
                <rule name="rule 44L" stopProcessing="true">
                    <match url="phpmyfaq/api/getFAQsByTag/([a-z\-]+)/([0-9]+)"/>
                    <action type="Rewrite" url="/phpmyfaq/api.php?action=getFAQsByTag&amp;lang={R:1}&amp;tagId={R:2}"
                            appendQueryString="true"/>
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <remove value="index.php"/>
                <add value="index.php"/>
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>