<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- Default Document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>

    <!-- Static Content -->
    <staticContent>
      <!-- Cache Control for static files -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>

    <!-- URL Compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <!-- HTTP Compression -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/rss+xml" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="text/xml" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="application/font-woff" enabled="true" />
        <add mimeType="application/font-woff2" enabled="true" />
      </staticTypes>
    </httpCompression>

    <!-- Custom Errors -->
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>

    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>

        <!-- Block zip files in content directory -->
        <rule name="Block Zip Files" stopProcessing="true">
          <match url="^content/.*\.zip$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>

        <!-- Exclude assets from being handled by Symfony Router -->
        <rule name="Exclude Admin Assets" stopProcessing="true">
          <match url="^(admin/assets)($|/)" />
          <action type="None" />
        </rule>

        <!-- Administration API -->
        <rule name="Admin API" stopProcessing="true">
          <match url="^admin/api/(.*)" />
          <action type="Rewrite" url="admin/api/index.php" appendQueryString="true" />
        </rule>

        <!-- Administration pages -->
        <rule name="Admin Pages" stopProcessing="true">
          <match url="^admin/(.*)" />
          <action type="Rewrite" url="admin/index.php" appendQueryString="true" />
        </rule>

        <!-- Private APIs -->
        <rule name="Private APIs" stopProcessing="true">
          <match url="^api/(autocomplete|bookmark/delete|bookmark/create|user/data/update|user/password/update|user/request-removal|user/remove-twofactor|contact|voting|register|captcha|share|comment/create|faq/create|question/create|webauthn/prepare|webauthn/register|webauthn/prepare-login|webauthn/login|translations)$" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="index\.php$" negate="true" />
          </conditions>
          <action type="Rewrite" url="api/index.php" appendQueryString="true" />
        </rule>

        <!-- Setup APIs -->
        <rule name="Setup APIs" stopProcessing="true">
          <match url="^api/setup/(check|backup|update-database)$" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="index\.php$" negate="true" />
          </conditions>
          <action type="Rewrite" url="api/index.php" appendQueryString="true" />
        </rule>

        <!-- REST API v3.0 and v3.1 -->
        <rule name="REST API v3" stopProcessing="true">
          <match url="^api/v3\.[01]/(.*)" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="index\.php$" negate="true" />
          </conditions>
          <action type="Rewrite" url="api/index.php" appendQueryString="true" />
        </rule>

        <!-- Setup pages -->
        <rule name="Setup Pages" stopProcessing="true">
          <match url="^(.*/)?setup/(.*)" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="index\.php$" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}setup/index.php" appendQueryString="true" />
        </rule>

        <!-- Front controller: route all requests to index.php (Symfony Router) -->
        <rule name="Front Controller" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>
