.pmf-breadcrumbs {
  background: #fff;
  padding: 12px;
  border-bottom: 1px solid $gray-500;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      color: #5e6977;
      font-size: 14px;

      & + li:before {
        content: ' / ';
        padding-left: 10px;
        padding-right: 10px;
        color: #e1e8ee;
      }
    }
  }
}
