@import 'variables';

.pmf-faq-body {
  width: 100%;
}

// FAQ meta data
.pmf-faq-meta {
  background-color: $gray-600;
  border-radius: 0.25em;
  color: $gray-100;
  display: flex;
  padding: 0.5em;
  margin-bottom: 1em;

  .pmf-faq-reading-time,
  .pmf-faq-author,
  .pmf-faq-date,
  .pmf-faq-comments,
  .pmf-faq-edit,
  .pmf-social-links {
    flex: 1 1 auto;
  }
}

// Rating stars
.pmf-stars {
  margin: auto;
}

.pmf-star-rating {
  direction: rtl;
  font-size: 30px;
  line-height: 50px;
  padding: 2px;
  text-align: center;
  unicode-bidi: bidi-override;

  > span {
    cursor: pointer;
    display: inline-block;
    position: relative;
  }

  > span:hover:before,
  > span:hover ~ span:before {
    content: '\2605';
    cursor: pointer;
    position: absolute;
  }
}

// Comments
.thumbnail {
  padding: 0;
}

.pmf-comments-show-more {
  cursor: pointer;
}

.card {
  position: relative;
}

.card > .card-header-comments:after,
.card > .card-header-comments:before {
  position: absolute;
  top: 11px;
  left: -16px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: ' ';
  border-color: transparent;
  border-style: solid solid outset;
  pointer-events: none;
}

.card > .card-header-comments:after {
  border-width: 7px;
  border-right-color: $card-border-color;
  margin-top: 1px;
  margin-left: 2px;
}

.card > .card-header-comments:before {
  border-right-color: $card-border-color;
  border-width: 8px;
}
