.pmf-footer {
  background-color: fade_in($gray-900, 0.8);
}
.pmf-footer-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  li {
    padding: 0.5rem 1rem 1rem 1rem;
  }
}
