// Global component styles

html {
  position: relative;
  height: 100%;
}

body {
  color: #717f86;
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.52;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section-padding {
  padding: 60px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #4b4b4c;
}

a {
  color: #5fcf80;
  &:hover,
  &:focus {
    color: #5fcf80;
    outline: none;
  }
}

mark,
.mark {
  padding: 0 !important; // override Bootstrap default
}

// Main page wrapper
#wrapper {
  flex: 1 0 auto;
  #content-wrapper {
    background-color: $gray-100;
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
  }
}

#sticky-footer {
  flex-shrink: none;
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, 0.5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}
