/**
 * CSS for phpMyFAQ setup
 *
 * @author    Thorsten Rinne <thorsten@phpmyfaq.de>
 * @copyright 2009 phpMyFAQ Team
 * @version   git: $Id$
 *
 * The contents of this file are subject to the Mozilla Public License
 * Version 1.1 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific language governing rights and limitations
 * under the License.
 */
 @CHARSET "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: "Bitstream Vera Sans", "Trebuchet MS", Geneva, Verdana, Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #000000;
}

#header {
    margin: auto;
    padding: 15px;
    background: #353535;
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid silver;
}

#header h1 {
    font-family: "Trebuchet MS", Geneva, Verdana, Arial, Helvetica,
        sans-serif;
    margin: auto;
    text-align: center;
}

.collapsed {
    display: none;
}

.center {
    text-align: center;
}

fieldset.installation {
    margin: auto;
    border: 1px solid black;
    width: 500px;
    margin-bottom: 10px;
    padding-top: 15px;
    clear: both;
}

legend.installation {
    border: 1px solid black;
    background-color: #C79810;
    padding: 4px 8px 4px 8px;
    font-size: 14px;
    font-weight: bold;
}

.input {
    width: 250px;
    background-color: #F9F7ED;
    border: 1px solid black;
    margin-bottom: 8px;
}

.checkbox {
    background-color: #F9F7ED;
    border: 1px solid black;
    margin-bottom: 8px;
    clear: both;
}

label.left {
    width: 200px;
    float: left;
    text-align: right;
    padding-right: 10px;
    line-height: 20px;
}

label.leftquestionaire {
    width: 235px;
    float: left;
    text-align: right;
    padding-right: 10px;
    line-height: 20px;
}

#admin {
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.button {
    background-color: #6BBA70;
    border: 3px solid #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 30px 10px 30px;
}

.error {
    margin: auto;
    margin-top: 20px;
    width: 600px;
    text-align: center;
    padding: 10px;
    line-height: 20px;
    background-color: #f5f5f5;
    border: 1px solid black;
}

#configliste {
    position: relative;
    left: 350px;
}

dt {
    font-weight: normal;
    font-style: italic;
}

dd {
    font-weight: bold;
    font-style: normal;
}