<!DOCTYPE html>
<html lang="{{ metaLanguage }}">
  <head>
    <meta charset="utf-8" />

    <title>{{ title }}</title>
    <base href="{{ baseHref }}" />

    <meta content="{{ metaDescription }}" name="description" />
    <meta content="{{ metaKeywords }}" name="keywords" />
    <meta content="{{ metaPublisher }}" name="author" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="phpMyFAQ {{ phpmyfaqVersion }}" name="application-name" />
    <meta content="{{ metaRobots }}" name="robots" />
    <meta content="7 days" name="revisit-after" />
    <meta content="app-id=977896957" name="apple-itunes-app" />

    <link href="{{ baseHref }}assets/dist/styles.css" rel="stylesheet" />

    <link href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/favicon.ico" rel="shortcut icon" />
    <link href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="{{ currentPageUrl }}" rel="canonical" />
  </head>
  <body dir="{{ dir }}">
    <nav class="p-3 text-bg-dark border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a
            href="{{ faqHome }}"
            id="phpmyfaq-logo"
            title="{{ header }}"
            class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
          >
            <img alt="phpMyFAQ" src="{{ baseHref }}assets/themes/{{ tplSetName }}/img/logo.png" />
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-link px-2 text-white {{ activeAllCategories }}">{{ allCategories }}</li>
            <li class="nav-link px-2 text-white {{ activeAddContent }}">{{ msgAddContent }}</li>
            <li class="nav-link px-2 text-white {{ activeAddQuestion }}">{{ msgQuestion }}</li>
            <li class="nav-link px-2 text-white {{ activeOpenQuestions }}">{{ msgOpenQuestions }}</li>
          </ul>

          <div class="dropdown text-end">
            <a
              href="#"
              class="d-block text-decoration-none dropdown-toggle text-white"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ msgLoginUser }}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small">
              [notLoggedIn] xxx
              <li>{{ msgRegisterUser }}</li>
              <li>{{ msgLoginUser }}</li>
              [/notLoggedIn] [userloggedIn]
              <li>{{ msgUserControlDropDown }}</li>
              <li>{{ msgUserControl }}</li>
              <li>{{ msgUserRemoval }}</li>
              <li><hr class="dropdown-divider" /></li>
              <li>{{ msgLogoutUser }}</li>
              [/userloggedIn]
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- SEARCH -->
    <div class="container my-5">
      <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
          <div class="search">
            <form action="{{ formActionUrl }}" id="search" method="post" role="search">
              <i class="fa fa-search"></i>
              <input
                autocomplete="off"
                type="text"
                class="form-control form-control-lg"
                id="pmf-search-autocomplete"
                name="search"
                placeholder="{{ searchBox }} ..."
                value="{{ searchTerm }}"
              />
              <button type="submit" class="btn btn-info btn-lg">{{ searchBox }}</button>
            </form>
          </div>
          <div>
            <small class="form-text text-muted">
              <a class="help" href="?action=search">{{ msgAdvancedSearch }}</a>
            </small>
          </div>
        </div>
      </div>
    </div>

    <!-- MAIN CONTENT -->
    <section class="my-3" id="wrapper">
      <div class="container">
        <h1>404 - Page not found!</h1>
      </div>
    </section>

    <footer class="pt-4 text-bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mb-md-0 mb-4">
            <h5 class="footer-heading">{{ writeTagCloudHeader }}</h5>
            <p class="card-text pmf-tag-cloud">{{ writeTags }}</p>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h5 class="footer-heading">{{ languageBox }}</h5>
            <form accept-charset="utf-8" action="{{ renderUri }}" method="post" class="subscribe-form">
              <div class="form-group d-flex">
                {{ switchLanguages }}
                <input name="action" type="hidden" value="" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="w-100">
        <div class="container">
          <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-6 mb-0 text-white">{{ copyright }}</p>

            <ul class="nav col-md-6 justify-content-end">
              <li class="nav-item">{{ faqOverview }}</li>
              <li class="nav-item">{{ showSitemap }}</li>
              <li class="nav-item">{{ msgGlossary }}</li>
              <li class="nav-item">{{ msgContact }}</li>
              <li class="nav-item">{{ privacyLink }}</li>
            </ul>
          </div>
        </div>
      </div>
      [debugMode]
      <div class="container">
        <h5 class="border-top">⚠︎ DEBUG MODE ENABLED ⚠︎</h5>
        <div class="row">
          <div class="col-12">
            <h6 class="text-danger">DATABASE QUERIES</h6>
            {{ debugQueries }}
          </div>
        </div>
      </div>
      [/debugMode]
    </footer>

    <script src="./assets/dist/frontend.js"></script>
  </body>
</html>
