<section class="col-12">
  <h1>{{ pageHeader }}</h1>
  <p>{{ msgContactOwnText }}</p>
  <p>
    {{ msgContactPrivacyNote }}
    <a title="{{ msgPrivacyNote }}" href="{{ privacyURL }}" target="_blank" rel="noopener"> {{ msgPrivacyNote }} </a>
  </p>
  <p><strong>{{ msgContactEMail }}</strong></p>

  <div class="row mb-2">
    <div class="col">
      <div class="spinner-border text-primary d-none" id="loader" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div id="faqs"></div>
    </div>
  </div>

  <form id="formValues" action="#" method="post" class="needs-validation" novalidate>
    <input type="hidden" name="lang" id="lang" value="{{ lang }}" />

    <div class="row mb-2">
      <label class="col-sm-3 form-control-label" for="name">{{ msgNewContentName }}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="name" id="name" value="{{ defaultContentName }}" required />
      </div>
    </div>

    <div class="row mb-2">
      <label class="col-sm-3 form-control-label" for="email">{{ msgNewContentMail }}</label>
      <div class="col-sm-9">
        <input type="email" class="form-control" name="email" id="email" value="{{ defaultContentMail }}" required />
      </div>
    </div>

    <div class="row mb-2">
      <label class="col-sm-3 form-control-label" for="question">{{ msgMessage }}</label>
      <div class="col-sm-9">
        <textarea class="form-control" cols="37" rows="5" name="question" id="question" required></textarea>
      </div>
    </div>

    {{ captchaFieldset }}

    <div class="row mb-2">
      <div class="col-sm-12 text-end">
        <button class="btn btn-primary btn-lg" type="submit" id="pmf-submit-values" data-pmf-form="submit-contact">
          {{ msgS2FButton }}
        </button>
      </div>
    </div>
  </form>

  <!-- PLEASE DO NOT REMOVE THE COPYRIGHT NOTICE - THANK YOU -->
  <div class="text-center">
    <hr />
    <small>
      Template by <a href="https://www.rinne.info">Thorsten Rinne</a><br />
      Original phpMyFAQ logo by <b>Lieven Op De Beeck</b><br />
      <br />
      &copy; 2001-2023 by
      <a target="_blank" rel="noopener" href="https://www.phpmyfaq.de/">phpMyFAQ Team</a> under the
      <a target="_blank" rel="noopener" href="https://www.mozilla.org/MPL/2.0/">Mozilla Public License 2.0</a>. All
      rights reserved.<br />
    </small>
  </div>
  <!-- PLEASE DO NOT REMOVE THE COPYRIGHT NOTICE - THANK YOU -->
</section>
