<!doctype html>
<html lang="{{ metaLanguage }}">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>
  <base href="{{ baseHref }}">

  <meta name="description" content="{{ metaDescription }}">
  <meta name="keywords" content="{{ metaKeywords }}">
  <meta name="author" content="{{ metaPublisher }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="application-name" content="phpMyFAQ {{ phpmyfaqversion }}">
  <meta name="robots" content="{{ metaRobots }}">
  <meta name="revisit-after" content="7 days">
  <meta name="apple-itunes-app" content="app-id=977896957">

  <!-- Share on Facebook -->
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ metaDescription }}">
  <meta property="og:image" content="">

  <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ baseHref }}assets/themes/{{ tplSetName }}/css/{{ stylesheet }}.min.css?v=1">
  <link rel="shortcut icon" href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/favicon.ico">
  <link rel="apple-touch-icon" href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/apple-touch-icon.png">
  <link rel="canonical" href="{{ currentPageUrl }}">

  <!-- @todo move to bottom -->
  <script src="{{ baseHref }}assets/js/modernizr.min.js"></script>
  <script src="{{ baseHref }}assets/js/vendors.js"></script>
  <script src="{{ baseHref }}assets/js/phpmyfaq.min.js"></script>

  <link rel="alternate" title="News RSS Feed" type="application/rss+xml" href="{{ baseHref }}feed/news/rss.php">
  <link rel="alternate" title="TopTen RSS Feed" type="application/rss+xml" href="{{ baseHref }}feed/topten/rss.php">
  <link rel="alternate" title="Latest FAQ Records RSS Feed" type="application/rss+xml"
        href="{{ baseHref }}feed/latest/rss.php">
  <link rel="alternate" title="Open Questions RSS Feed" type="application/rss+xml"
        href="{{ baseHref }}feed/openquestions/rss.php">
  <link rel="search" type="application/opensearchdescription+xml" title="{{ metaTitle }}" href="{{ opensearch }}">

  <script>
    if (self === top) {
      document.documentElement.style.display = 'block';
    } else {
      top.location = self.location;
    }
  </script>
  <style> html {
    display: none;
  }</style>
</head>
<body dir="{{ dir }}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" id="logo" title="{{ header }}" href="{{ faqHome }}">
      <img src="{{ baseHref }}assets/themes/{{ tplSetName }}/img/logo.png" alt="phpMyFAQ">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pmfNavbar"
            aria-controls="pmfNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="pmfNavbar">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item {{ activeAllCategories }}">{{ allCategories }}</li>
        <li class="nav-item {{ activeAddContent }}">{{ msgAddContent }}</li>
        <li class="nav-item {{ activeAddQuestion }}">{{ msgQuestion }}</li>
        <li class="nav-item {{ activeOpenQuestions }}">{{ msgOpenQuestions }}</li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            {{ msgLoginUser }}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown">
            [notLoggedIn]
            {{ msgRegisterUser }}
            {{ msgLoginUser }}
            [/notLoggedIn]
            [userloggedIn]
            {{ msgUserControlDropDown }}
            {{ msgUserControl }}
            {{ msgLogoutUser }}
            [/userloggedIn]
          </div>
        </li>

      </ul>


      </form>
    </div>
  </div>
</nav>

<!-- SEARCH -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="display-5 text-center">How can we help you?</h3>
        <div class="justify-content-center">
          <form role="search" id="search" action="{{ writeSendAdress }}" method="get">
            <input type="hidden" name="action" value="search">
            <input class="form-control searchfield typeahead" type="text" placeholder="{{ searchBox }} ..."
                   aria-label="Search" autocomplete="off">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<header>
  <div class="container">
    <div class="pmf-breadcrumb">
      [breadcrumb]
      {{ breadcrumbHeadline }}
      [/breadcrumb]
    </div>
  </div>
</header>
-->

<div class="container">

  {{ writeContent }}

</div>


<div class="pmf-wrapper pmf-main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pmf-maincontent">
      </div>
      <aside class="col-md-4 pmf-aside">

        [socialLinks]
        <section class="pmf-aside-widget">
          <div class="pmf-aside-widget-body pmf-social-links">
            <a target="_blank" href="{{ link_pdf }}" rel="nofollow" title="{{ writePDFTag }}">
                    <span class="fa-stack fa-lg">
                        <i aria-hidden="true" class="fa fa-square-o fa-stack-2x"></i>
                        <i aria-hidden="true" class="fa fa-file-pdf-o fa-stack-1x"></i>
                    </span>
            </a>
            <a href="javascript:window.print();" rel="nofollow" title="{{ writePrintMsgTag }}">
                    <span class="fa-stack fa-lg">
                        <i aria-hidden="true" class="fa fa-square-o fa-stack-2x"></i>
                        <i aria-hidden="true" class="fa fa-print fa-stack-1x"></i>
                    </span>
            </a>
            <a href="{{ link_email }}" title="{{ writeSend2FriendMsgTag }}">
                    <span class="fa-stack fa-lg">
                        <i aria-hidden="true" class="fa fa-square-o fa-stack-2x"></i>
                        <i aria-hidden="true" class="fa fa-envelope fa-stack-1x"></i>
                    </span>
            </a>
            {{ shareOnFacebook }}
            {{ shareOnTwitter }}
            {{ facebookLikeButton }}
          </div>
        </section>
        [/socialLinks]

      </aside>
    </div>
  </div>
</div>


<footer>
  <div class="pmf-wrapper pmf-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <ul class="footer-menu">
            <li>{{ faqOverview }}</li>
            <li>{{ showSitemap }}</li>
            <li>{{ msgGlossary }}</li>
            <li>{{ msgContact }}</li>
          </ul>
        </div>
        <div class="col-md-3">
          <form action="{{ writeLangAdress }}" method="post" class="float-right" accept-charset="utf-8">
            {{ switchLanguages }}
            <input type="hidden" name="action" value=""/>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="pmf-wrapper copyright">
    <div class="container">
      <div class="float-right">
        {{ copyright }}
      </div>
    </div>
  </div>

  [debugMode]
  <div class="container debug-mode">
    <h3>DEBUG INFORMATION</h3>
    <hr>
    <h4>EXCEPTIONS</h4>
    {{ debugExceptions }}
    <hr>
    <h4>DATABASE QUERIES</h4>
    {{ debugQueries }}
  </div>
  [/debugMode]

</footer>

<script>
  $('.topten').tooltip();
  $('.latest-entries').tooltip();
  $('.sticky-faqs').tooltip();
</script>

</body>
</html>
