<!DOCTYPE html>
<html lang="{{ metaLanguage }}">
  <head>
    <meta charset="utf-8" />

    <title>{{ title }}</title>
    <base href="{{ baseHref }}" />

    <meta content="{{ metaDescription }}" name="description" />
    <meta content="{{ metaKeywords }}" name="keywords" />
    <meta content="{{ metaPublisher }}" name="author" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="phpMyFAQ {{ phpmyfaqversion }}" name="application-name" />
    <meta content="{{ metaRobots }}" name="robots" />
    <meta content="7 days" name="revisit-after" />
    <meta content="app-id=977896957" name="apple-itunes-app" />

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link href="{{ baseHref }}assets/dist/styles.css" rel="stylesheet" />
    <script src="assets/dist/frontend.js"></script>

    <link href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/favicon.ico" rel="shortcut icon" />
    <link href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="{{ currentPageUrl }}" rel="canonical" />

    <script>
      if (self === top) {
        document.documentElement.style.display = 'block';
      } else {
        top.location = self.location;
      }
    </script>
    <style>
      html {
        display: none;
      }
    </style>
  </head>
  <body dir="{{ dir }}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
      <div class="container">
        <a class="navbar-brand" href="{{ faqHome }}" id="phpmyfaq-logo" title="{{ header }}">
          <img alt="phpMyFAQ" src="{{ baseHref }}assets/themes/{{ tplSetName }}/img/logo.png" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#pmf-navbar-toggle"
          aria-controls="pmf-navbar-toggle"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="pmf-navbar-toggle">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item {{ activeAllCategories }}">{{ allCategories }}</li>
            <li class="nav-item {{ activeAddContent }}">{{ msgAddContent }}</li>
            <li class="nav-item {{ activeAddQuestion }}">{{ msgQuestion }}</li>
            <li class="nav-item {{ activeOpenQuestions }}">{{ msgOpenQuestions }}</li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                {{ msgLoginUser }}
              </a>
              <ul class="dropdown-menu">
                [notLoggedIn]
                <li>{{ msgRegisterUser }}</li>
                <li>{{ msgLoginUser }}</li>
                [/notLoggedIn] [userloggedIn]
                <li>{{ msgUserControlDropDown }}</li>
                <li>{{ msgUserControl }}</li>
                <li>{{ msgUserRemoval }}</li>
                <li>{{ msgLogoutUser }}</li>
                [/userloggedIn]
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- SEARCH -->
    <section class="pmf-search-section">
      <div class="pmf-masthead pmf-single-masthead">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-md-auto">
              <form action="{{ writeSendAdress }}" id="search" method="post" role="search">
                <input
                  autocomplete="off"
                  class="typeahead pmf-search-field"
                  data-provide="typeahead"
                  name="search"
                  placeholder="{{ searchBox }} ..."
                  type="text"
                  value="{{ searchTerm }}"
                />
                <button type="submit"><i class="fa fa-search"></i></button>
                <small class="form-text text-muted">
                  <a class="help" href="?action=search">{{ msgAdvancedSearch }}</a>
                </small>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- BREADCRUMB -->
    [breadcrumb]
    <section class="pmf-breadcrumbs">
      <div class="container">{{ breadcrumbHeadline }}</div>
    </section>
    [/breadcrumb]

    <!-- MAIN CONTENT -->
    <section class="mt-3" id="wrapper">
      <div class="container">
        <div class="row">{{ mainPageContent }} {{ sidebar }}</div>
      </div>
    </section>

    <footer class="pmf-footer font-small pt-4">
      <div class="container">
        <div class="row">
          <div class="col-8 mb-4">
            <ul class="pmf-footer-menu">
              <li class="foot-menu-item">{{ faqOverview }}</li>
              <li class="foot-menu-item">{{ showSitemap }}</li>
              <li class="foot-menu-item">{{ msgGlossary }}</li>
              <li class="foot-menu-item">{{ msgContact }}</li>
              <li class="foot-menu-item">{{ privacyLink }}</li>
            </ul>
          </div>
          <div class="col-4 mb-4">
            <form accept-charset="utf-8" action="{{ renderUri }}" class="pmf-footer-language" method="post">
              {{ switchLanguages }}
              <input name="action" type="hidden" value="" />
            </form>
          </div>
        </div>
      </div>
      <div class="text-center py-3">{{ copyright }}</div>
      [debugMode]
      <div class="container debug-mode">
        <hr />
        <h4>DEBUG INFORMATION</h4>
        <div class="row">
          <div class="col-12">
            <h5>DATABASE QUERIES</h5>
            {{ debugQueries }}
          </div>
        </div>
      </div>
      [/debugMode]
    </footer>

    <script>
      // $('.topten').tooltip();
      // $('.latest-entries').tooltip();
      // $('.sticky-faqs').tooltip();
    </script>
    <script>
      /*
      window.addEventListener('load', () => {
        window.cookieconsent.initialise({
          palette: {
            popup: {
              background: '#252e39',
            },
            button: {
              background: '#14a7d0',
            },
            revokable: true,
          },
        });
      });
      */
    </script>
  </body>
</html>
