<div class="row">

  [useSslForLogins]
  <p>
    <a href="{{ secureloginurl }}">{{ securelogintext }}</a>
  </p>
  [/useSslForLogins]

  {{ loginMessage }}

  <form class="pmf-form-login" action="{{ writeLoginPath }}" method="post" role="form">
    <h2 class="pmf-form-login-heading">phpMyFAQ Login</h2>
    <label for="faqusername" class="sr-only">{{ username }}</label>
    <input type="text" id="faqusername" class="form-control" placeholder="{{ username }}" required autofocus>
    <label for="faqpassword" class="sr-only">{{ password }}</label>
    <input type="password" id="faqpassword" class="form-control" placeholder="{{ password }}" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> {{ rememberMe }}
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ loginHeader }}</button>
    <div class="form-group row">
      <p class="float-right">
        {{ sendPassword }}
        <br>
        {{ registerUser }}
      </p>
    </div>
  </form>

</div>