<!DOCTYPE html>
<html lang="{{ metaLanguage }}">
  <head>
    <meta charset="utf-8" />

    <title>{{ title }}</title>
    <base href="{{ baseHref }}" />

    <meta name="description" content="{{ metaDescription }}" />
    <meta name="keywords" content="{{ metaKeywords }}" />
    <meta name="author" content="{{ metaPublisher }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="application-name" content="phpMyFAQ {{ phpmyfaqversion }}" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="revisit-after" content="7 days" />

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ baseHref }}assets/dist/styles.css" />

    <link rel="shortcut icon" href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/favicon.ico" />
    <link rel="apple-touch-icon" href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/apple-touch-icon.png" />
    <link rel="canonical" href="{{ currentPageUrl }}" />

    <script>
      if (self === top) {
        document.documentElement.style.display = 'block';
      } else {
        top.location = self.location;
      }
    </script>
    <style>
      html {
        display: none;
      }
    </style>
  </head>
  <body dir="{{ dir }}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" id="phpmyfaq-logo" title="{{ header }}" href="{{ faqHome }}">
          <img src="{{ baseHref }}assets/themes/{{ tplSetName }}/img/logo.png" alt="phpMyFAQ" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#pmf-navbar-toggle"
          aria-controls="pmf-navbar-toggle"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="pmf-navbar-toggle">
          <ul class="navbar-nav mr-md-12">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="dropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ msgLoginUser }}
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdown">
                [notLoggedIn] {{ msgLoginUser }} [/notLoggedIn] [userloggedIn] {{ msgUserControl }} {{ msgLogoutUser }}
                [/userloggedIn]
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="pmf-wrapper pmf-main">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="jumbotron text-center mt-5">
              <h3>We are performing scheduled maintenance operations. Please visit us later.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="pmf-footer font-small pt-4">
      <div class="container">
        <div class="row">
          <div class="col-8 mb-4">
            <ul class="pmf-footer-menu">
              <li class="foot-menu-item">{{ msgContact }}</li>
              <li class="foot-menu-item">{{ privacyLink }}</li>
            </ul>
          </div>
          <div class="col-4 mb-4">
            <form action="{{ renderUri }}" method="post" accept-charset="utf-8" class="pmf-footer-language">
              {{ switchLanguages }}
              <input type="hidden" name="action" value="" />
            </form>
          </div>
        </div>
      </div>
      <div class="text-center py-3">{{ copyright }}</div>
      [debugMode]
      <div class="container debug-mode">
        <hr />
        <h4>DEBUG INFORMATION</h4>
        <div class="row">
          <div class="col-12">
            <h5>DATABASE QUERIES</h5>
            {{ debugQueries }}
          </div>
        </div>
      </div>
      [/debugMode]
    </footer>

    <script src="{{ baseHref }}assets/dist/vendors.js"></script>
    <script src="{{ baseHref }}assets/dist/phpmyfaq.js"></script>
    <script src="{{ baseHref }}assets/dist/frontend.js"></script>
    <script>
      window.addEventListener('load', () => {
        window.cookieconsent.initialise({
          palette: {
            popup: {
              background: '#252e39',
            },
            button: {
              background: '#14a7d0',
            },
          },
        });
      });
    </script>
  </body>
</html>
