<!DOCTYPE html>
<html lang="{{ metaLanguage }}">
  <head>
    <meta charset="utf-8" />

    <title>{{ title }}</title>
    <base href="{{ baseHref }}" />

    <meta name="description" content="{{ metaDescription }}" />
    <meta name="keywords" content="{{ metaKeywords }}" />
    <meta name="author" content="{{ metaPublisher }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="application-name" content="phpMyFAQ {{ phpmyfaqVersion }}" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="revisit-after" content="7 days" />

    <link rel="stylesheet" href="{{ baseHref }}assets/dist/styles.css" />

    <link rel="shortcut icon" href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/favicon.ico" />
    <link rel="apple-touch-icon" href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/apple-touch-icon.png" />
    <link rel="canonical" href="{{ currentPageUrl }}" />
  </head>
  <body dir="{{ dir }}">
    <nav class="p-3 text-bg-dark border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a
            href="{{ faqHome }}"
            id="phpmyfaq-logo"
            title="{{ header }}"
            class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
          >
            <img alt="phpMyFAQ" src="{{ baseHref }}assets/themes/{{ tplSetName }}/img/logo.png" />
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></ul>

          <div class="dropdown justify-content-end">
            <a
              href="#"
              class="d-block text-decoration-none dropdown-toggle text-white"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ msgLoginUser }}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small">
              [notLoggedIn] [/notLoggedIn] [userloggedIn]
              <li>{{ msgUserControl }}</li>
              <li><hr class="dropdown-divider" /></li>
              <li>{{ msgLogoutUser }}</li>
              [/userloggedIn]
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="pmf-wrapper pmf-main">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="jumbotron text-center m-5">
              <h3>We are performing scheduled maintenance operations. Please visit us later.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="pt-4 text-bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mb-md-0 mb-4">
            <h5 class="footer-heading">{{ writeTagCloudHeader }}</h5>
            <p class="card-text pmf-tag-cloud">{{ writeTags }}</p>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h5 class="footer-heading">{{ languageBox }}</h5>
            <form accept-charset="utf-8" action="{{ renderUri }}" method="post" class="subscribe-form">
              <div class="form-group d-flex">
                {{ switchLanguages }}
                <input name="action" type="hidden" value="" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="w-100">
        <div class="container">
          <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-6 mb-0 text-white">{{ copyright }}</p>

            <ul class="nav col-md-6 justify-content-end">
              <li class="nav-item">{{ msgContact }}</li>
              <li class="nav-item">{{ privacyLink }}</li>
            </ul>
          </div>
        </div>
      </div>
      [debugMode]
      <div class="container">
        <h5 class="border-top">⚠︎ DEBUG MODE ENABLED ⚠︎</h5>
        <div class="row">
          <div class="col-12">
            <h6 class="text-danger">DATABASE QUERIES</h6>
            {{ debugQueries }}
          </div>
        </div>
      </div>
      [/debugMode]
    </footer>

    <script src="./assets/dist/frontend.js"></script>
  </body>
</html>
