<!DOCTYPE html>
<html lang="{{ metaLanguage }}">
  <head>
    <meta charset="utf-8" />

    <title>{{ title }}</title>
    <base href="{{ baseHref }}" />

    <meta name="description" content="{{ metaDescription }}" />
    <meta name="keywords" content="{{ metaKeywords }}" />
    <meta name="author" content="{{ metaPublisher }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="application-name" content="phpMyFAQ {{ phpmyfaqVersion }}" />
    <meta name="robots" content="{{ metaRobots }}" />
    <meta name="revisit-after" content="7 days" />

    <link rel="stylesheet" href="{{ baseHref }}assets/dist/styles.css" />

    <link rel="shortcut icon" href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/favicon.ico" />
    <link rel="apple-touch-icon" href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/apple-touch-icon.png" />
    <link rel="canonical" href="{{ currentPageUrl }}" />
  </head>
  <body dir="{{ dir }}">
    <div class="col-12">
      [useSslForLogins]
      <p>
        <a href="{{ secureloginurl }}">{{ securelogintext }}</a>
      </p>
      [/useSslForLogins] {{ loginMessage }}

      <div id="phpmyfaq-login" class="mb-5">
        <div id="phpmyfaq-login-content">
          <main>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-5">
                  <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                      <h3 class="text-center font-weight-light my-4">phpMyFAQ Registration</h3>
                      <?= $message ?>
                    </div>
                    <div class="card-body">
                      <form action="{{ writeLoginPath }}" method="post" accept-charset="utf-8" role="form">
                        <div class="form-floating mb-3">
                          <input
                            class="form-control"
                            id="faqusername"
                            name="faqusername"
                            type="text"
                            placeholder="{{ username }}"
                          />
                          <label for="faqusername">{{ username }}</label>
                        </div>
                        <div class="form-floating mb-3">
                          <input
                            class="form-control"
                            id="realname"
                            name="realname"
                            type="text"
                            placeholder="{{ realname }}"
                          />
                          <label for="faqusername">{{ realname }}</label>
                        </div>

                        <div class="input-group mb-3">
                          <div class="form-floating">
                            <input
                              class="form-control"
                              id="faqpassword"
                              name="faqpassword"
                              type="password"
                              autocomplete="off"
                              placeholder="{{ password }}"
                            />
                            <label for="faqpassword">{{ password }}</label>
                          </div>
                          <span class="input-group-text">
                            <i class="fa" id="togglePassword"></i>
                          </span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                          <button type="submit" class="btn btn-primary">{{ submitRegister }}</button>
                        </div>
                      </form>
                    </div>

                    <div class="card-footer text-center py-3">
                      [useSignInWithMicrosoft]
                      <a class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" href="./services/azure">
                        <i class="fa fa-windows" aria-hidden="true"></i>
                        {{ msgSignInWithMicrosoft }}
                      </a>
                      [/useSignInWithMicrosoft]
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>

    <script src="{{ baseHref }}assets/dist/frontend.js"></script>
  </body>
</html>
