<div class="row g-5">
  <div class="col-md-8">
    <h2 class="pb-4 mb-4 border-bottom">{{ newsHeader }}</h2>

    <article class="pmf-news-body pb-4 mb-4 border-bottom">{{ mainPageContent }}</article>

    <p class="d-print-none">{{ writeCommentMsg }}</p>
    <div id="pmf-comment-add-success"></div>
    <div class="d-print-none" id="comments">{{ renderComments }}</div>
  </div>

  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem">
      <div class="p-4 mb-3 bg-light-subtle border rounded">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ writeDateMsg }}</li>
          <li class="list-group-item">{{ writeAuthor }}</li>
          <li class="list-group-item">{{ editThisEntry }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pmf-modal-add-comment" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="commentModalLabel">{{ msgCommentHeader }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ msgCancel }}"></button>
      </div>
      <div class="modal-body">
        <div id="pmf-add-comment-error"></div>

        <form id="pmf-add-comment-form" action="#" method="post" class="needs-validation" novalidate>
          <input type="hidden" name="newsId" id="newsId" value="{{ newsId }}" />
          <input type="hidden" name="lang" id="lang" value="{{ newsLang }}" />
          <input type="hidden" name="type" id="type" value="news" />
          {{ csrfInput }}

          <div class="row mb-2">
            <div class="col">
              <label class="sr-only" for="user">{{ msgNewContentName }}</label>
              <input
                type="text"
                name="user"
                id="user"
                class="form-control"
                required
                placeholder="{{ msgNewContentName }}"
                value="{{ defaultContentName }}"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <label class="sr-only" for="mail">{{ msgNewContentMail }}</label>
              <input
                type="email"
                name="mail"
                id="mail"
                class="form-control"
                required
                placeholder="{{ msgNewContentMail }}"
                value="{{ defaultContentMail }}"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <textarea
                rows="10"
                name="comment_text"
                id="comment_text"
                class="form-control"
                required
                placeholder="{{ msgYourComment }}"
              ></textarea>
            </div>
          </div>

          {{ captchaFieldset }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ msgCancel }}</button>
        <button type="button" class="btn btn-primary" id="pmf-button-save-comment">{{ msgNewContentSubmit }}</button>
      </div>
    </div>
  </div>
</div>
