<!DOCTYPE html>
<html lang="{{ metaLanguage }}">
  <head>
    <meta charset="utf-8" />

    <title>{{ title }}</title>
    <base href="{{ baseHref }}" />

    <meta name="description" content="{{ metaDescription }}" />
    <meta name="keywords" content="{{ metaKeywords }}" />
    <meta name="author" content="{{ metaPublisher }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="application-name" content="phpMyFAQ {{ phpmyfaqVersion }}" />
    <meta name="robots" content="{{ metaRobots }}" />
    <meta name="revisit-after" content="7 days" />

    <link rel="stylesheet" href="{{ baseHref }}assets/dist/styles.css" />

    <link rel="shortcut icon" href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/favicon.ico" />
    <link rel="apple-touch-icon" href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/apple-touch-icon.png" />
    <link rel="canonical" href="{{ currentPageUrl }}" />
  </head>
  <body dir="{{ dir }}">
    <section class="col-12">
      <h1>{{ pageHeader }}</h1>

      <div class="row mb-2">
        <div class="col">
          <div class="spinner-border text-primary d-none" id="loader" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div id="faqs"></div>
        </div>
      </div>

      <form id="formValues" action="#" method="post" accept-charset="utf-8" class="needs-validation" novalidate>
        <input type="hidden" name="lang" id="lang" value="{{ lang }}" />

        <div class="row mb-2">
          <label class="col-3 form-control-label" for="username">{{ msgUsername }}</label>
          <div class="col-9">
            <input class="form-control" type="text" name="username" id="username" required autofocus />
          </div>
        </div>

        <div class="row mb-2">
          <label class="col-3 form-control-label" for="email">{{ msgEmail }}</label>
          <div class="col-9">
            <input class="form-control" type="email" name="email" id="email" required />
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 text-end">
            <button class="btn btn-primary" type="submit" id="pmf-submit-values" data-pmf-form="change-password">
              {{ msgSubmit }}
            </button>
          </div>
        </div>
      </form>
    </section>

    <script src="{{ baseHref }}assets/dist/frontend.js"></script>
  </body>
</html>
