<div class="row g-5">
  <div class="col-md-8">
    <h2 class="pb-4 mb-4 border-bottom">{{ categoryHeader }}</h2>

    {{ categoryContent }}

    <p>{{ categoryLevelUp }}</p>
  </div>

  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem">
      <div class="p-4 mb-3 bg-light-subtle rounded border">
        [categoryImage]
        <img
          src="{{ categoryImage }}"
          alt="{{ categoryFaqsHeader }}"
          width="140"
          height="140"
          class="rounded img-fluid float-end m-1"
        />
        [/categoryImage]
        <h4 class="fst-italic">{{ categoryFaqsHeader }}</h4>
        <p class="mb-0 small">{{ categoryDescription }}</p>
      </div>

      <div class="p-4 mb-3 bg-light-subtle rounded border">
        <h4 class="fst-italic">{{ categorySubsHeader }}</h4>
        {{ subCategoryContent }}
      </div>

    </div>
  </div>
</div>
