<div class="row">
  <div class="col-4 pmf-personal-gravatar">
    <div class="text-center">{{ ucpGravatarImage }}</div>
  </div>
  <div class="col-8 pmf-personal-info">
    <div class="row mb-2">
      <div class="col">
        <div class="spinner-border text-primary d-none" id="loader" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div id="faqs"></div>
      </div>
    </div>

    <form id="formValues" action="#" method="post" class="needs-validation" novalidate>
      <input type="hidden" name="userid" value="{{ userid }}" />
      {{ csrf }}
      <input type="hidden" name="lang" id="lang" value="{{ lang }}" />

      <div class="row mb-2">
        <label class="col-lg-4 col-form-label" for="name">{{ msgRealName }}:</label>
        <div class="col-lg-8 controls">
          <input
            type="text"
            name="name"
            id="name"
            value="{{ realname }}"
            class="form-control"
            required
            {{ readonly }}
          />
        </div>
      </div>

      <div class="row mb-2">
        <label class="col-lg-4 col-form-label" for="email">{{ msgEmail }}:</label>
        <div class="col-lg-8 controls">
          <input
            type="email"
            name="email"
            id="email"
            value="{{ email }}"
            class="form-control"
            required
            {{ readonly }}
          />
        </div>
      </div>

      <div class="row mb-2">
        <label class="col-lg-4 col-form-label" for="faqpassword">{{ msgPassword }}:</label>
        <div class="col-lg-8 input-group w-auto">
          <input
            type="password"
            autocomplete="off"
            name="faqpassword"
            id="faqpassword"
            class="form-control"
            required
            {{ readonly }}
          />
          <span class="input-group-text">
            <i class="fa" id="togglePassword"></i>
          </span>
        </div>
        <div class="offset-4 col-lg-8">
          <div class="progress mt-2 w-50">
            <div class="progress-bar progress-bar-striped" id="strength"></div>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <label class="col-lg-4 col-form-label" for="faqpassword_confirm">{{ msgConfirm }}:</label>
        <div class="col-lg-8 w-auto">
          <input
            type="password"
            autocomplete="off"
            name="faqpassword_confirm"
            id="faqpassword_confirm"
            class="form-control"
            required
            {{ readonly }}
          />
        </div>
      </div>

      <div class="row mb-2">
        <div class="offset-4 col-lg-8">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="is_visible" name="is_visible" {{ checked }} />
            <label class="form-check-label" for="is_visible"> {{ msgIsVisible }} </label>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="offset-4 col-lg-8 border-top">
          <div class="form-check mt-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="twofactor_enabled"
              name="twofactor_enabled"
              {{ checked_twofactor_enabled }}
            />
            <label class="form-check-label" for="twofactor_enabled"> {{ msgTwofactorEnabled }} </label>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="offset-4 col-lg-8">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#twofactor_config">
            {{ msgTwofactorConfig }}
          </button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="offset-4 col-lg-8">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="newsecret" name="newsecret" />
            <label class="form-check-label" for="newsecret"> {{ msgTwofactorNewSecret }} </label>
          </div>
        </div>
      </div>

      <!-- QR Code Modal -->
      <div
        class="modal fade"
        id="twofactor_config"
        tabindex="-1"
        aria-labelledby="twofactor_configLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="twofactor_configLabel">{{ msgTwofactorConfigModelTitle }}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img
                class="rounded mx-auto d-block"
                src="{{ qr_code_secret }}"
                width="200"
                height="200"
                alt="{{ qr_code_secret_alt }}"
              />
              <p class="text-center">Secret-Key: {{ twofactor_secret }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ msgSave }}</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-lg-12 text-end">
          <button class="btn btn-primary" type="submit" id="pmf-submit-values" data-pmf-form="submit-user-data">
            {{ msgSave }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
