<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">
    <i aria-hidden="true" class="fa fa-folder"></i> {{ msgHeaderCategoryOverview }}
  </h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a class="btn btn-sm btn-success" href="#" id="addCategoryModal">
        <i aria-hidden="true" class="fa fa-folder-plus"></i> {{ msgAddCategory }}
      </a>
      <a class="btn btn-sm btn-info" href="?action=showcategory">
        <i aria-hidden="true" class="fa fa-list"></i> {{ msgCategoryMatrix }}
      </a>
    </div>
  </div>
</div>
