{% extends '@admin/index.twig' %}

{% block content %}
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-3 border-bottom">
    <h1 class="h2">
      <i class="bi bi-info-circle" aria-hidden="true"></i>
      {{ adminHeaderSystemInfo }}
    </h1>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped align-middle border shadow">
        <tbody>
        {% for key, info in systemInformation %}
          <tr>
            <td class="col-3 align-text-top"><strong>{{ key }}</strong></td>
            <td>{{ info }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
