/**
 * To change the look and feel, search for the following selectors (Ctrl-F) in this style sheet:
 * 
 * - Font, background color/image: body
 * - Link colors: a:link, a:visited
 * - Hover links color: a:hover
 * - Code color: pre
 * - Title color: #header h1 a
 * - Separation color of navigation menu: #categories li a
 * - Footer color and separator: #footer
 * - Footer link color: #footer a:link, #footer a:visited
 * - RSS button color: a.rss:link, a.rss:visited
 * - Text highlight color: .highlight
 *
 * The contents of this file are subject to the Mozilla Public License
 * Version 1.1 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific language governing rights and limitations
 * under the License.
 *
 * @author    Charles A. Landemaine <landemaine@gmail.com>
 * @author    Thorsten Rinne <thorsten@phpmyfaq.de>
 * @copyright 2004-2010 phpMyFAQ Team
 */

/*	General	*/
body { font: .8em 'Trebuchet MS', 'Nimbus Sans L', sans-serif; padding: 1em; margin: 0; background: url(../../images/background.png) repeat-x; }
td { font-size: .8em; }
a:link, a:visited { color: #191970; border-bottom: 1px dotted #bbb; text-decoration: none; }
h3 a:link, h3 a:visited { border: 0;}
h3 img { vertical-align: middle; }
a:hover { color: #000; background: #f4f7fa; }
form { margin: 0; padding: 0; }
a img, img { border: 0; }
pre {	padding: 0.5em; background: #eee; border: 1px solid #ddd; overflow: auto; }
ul { list-style: square; }
abbr { border-bottom: 1px dotted #999; }  

/* Structure */
#content { max-width: 1400px; margin: auto; }
#header { height: 3em; }
#header ul { margin: 0; padding: 0; list-style: none; font-size: 1em; font-weight: bold; line-height: 1em; height: 1em; float: right; }
#header li { float: right; padding: 0 1em 0 0; margin: 0; }
#header h1 { font-size: 1.5em; height: 1.2em; float: left; padding: 0; margin: 0; }
#header h1 a { color: #000; border: 0; background: none; }

/* Categories */
#categories { width: 200px; }
#categories ul { list-style: none; margin: 0; padding: 0; border-top: 1px solid gray; }
#categories ul ul, #categories ul ul ul, #categories ul ul ul ul, #categories ul ul ul ul ul { border-top: 0; }
#categories li { margin: 0; padding: 0; }
#categories li a { display: block; border-bottom: 1px solid gray; text-decoration: none; height: 100%; padding: .5em 0 .5em .5em; }
#categories li ul a { padding-left: 1em; }
#categories ul ul ul a { padding-left: 2em; }
#categories ul ul ul ul a { padding-left: 3em; }
#categories ul ul ul ul ul a { padding-left: 4em; }
#categories .active { font-weight: bold; }
#categories .subcat .active {}

#langform { padding: .5em 0; }
label { display: block; }
.leftcolumn .inputfield { width: 98%; }
.leftcolumn .language { width: 100%; }
#useronline { margin-top: 1em; text-align: center; }

/* Misc */
#topten, #latest, #tagcloud, #allcategoryarticles, #stickyrecords { margin-bottom: 1em; }
#topten h3, #latest h3, #tagcloud h3, #allcategoryarticles h3, #stickyrecords h3 { font-size: 135%; margin-bottom: 5px; padding: 4px 4px 2px 4px; -moz-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; }
#topten img, #latest img { float: right; margin-top: -16px; }
#topten ol, #latest ol { margin-left: 15px; list-style-type: decimal; }
#topten li, #latest li { list-style-type: decimal; }
#tagcloud .relevance1 { font-size: 80%; }
#tagcloud .relevance2 { font-size: 100%; }
#tagcloud .relevance3 { font-size: 120%; }
#tagcloud .relevance4 { font-size: 140%; }
#tagcloud .relevance5 { font-size: 160%; }

/* Main content */
.main-content { margin: 0; padding: 0 220px 1em 220px; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5 { margin-bottom: 0.5em; }
.main-content pre, .main-content code { white-space: pre; }
.main-content #solution_id { float: right; }
.main-content table { overflow: scroll; }
.main-content form { width: 99%; }
.main-content label.left { float: left; text-align: right; width: 150px; margin-right: 0.3em; }
.main-content form br { clear: both; }
#article_category { font-size: 1.5em; }
#search { padding: 0; margin: 0; width: auto; }
#search input, #instantfield { vertical-align: middle; font-size: 1.5em; font-weight: bold; }

/* Main columns definitions */
.leftcolumn { float: left; left: 0px; width: 200px; margin-bottom: 1em; }
.rightcolumn { position: static; float: right; width: 200px; margin-bottom: 1em; }
.rightcolumn ol { margin: 0 0 0 25px; padding: 0; }
html>body .rightcolumn ol { margin: 0 0 0 20px; padding: 0; }

/* Footer */
#footer { margin-top: 1em; clear: both; border-top: 1px solid #ddd; color: #aaa; font-size: 11px }
#footer a:link, #footer a:visited {	color: #aaa; }

/*	Main classes	*/
.invisible { display: none; }
a.rss:link, a.rss:visited { background: #ff6a00; color: #fff; font: 9px normal Verdana, sans-serif; border-top: 1px solid #ffb627; border-left: 1px solid #ffb627; border-right: 1px solid #ab4800; border-bottom: 1px solid #ab4800; padding: 0 2px;	text-transform: uppercase; vertical-align: middle; }
.clearing { clear: both; display: none; }
.highlight { background: #f0ff00; padding: 0 .2em; font-weight: bold; }
#action { text-align: center; margin: 5px; }
p#action img { vertical-align: middle; }
#version, #copyright { margin-top: 1em; text-align: center; }