//
// Edit FAQ
//

.pmf-tag-list-result {
  background-color: white;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}

.autocomplete {
  .empty {
    background-color: white;
    border: lightgray 1px solid;
    cursor: pointer;
    padding: 10px;
  }
}
