//
// FAQ Overview
//

.pmf-faq-list-result {
  background-color: white;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}

.category-header-indent-0 {
  padding-left: 1px;
  background: $secondary-bg-subtle;
}
.category-header-indent-1 {
  padding-left: 0.5rem;
  background: $secondary-bg-subtle;
}
.category-header-indent-2 {
  padding-left: 1rem;
  background: $secondary-bg-subtle;
}
.category-header-indent-3 {
  padding-left: 1.5rem;
  background: $secondary-bg-subtle;
}
.category-header-indent-4 {
  padding-left: 2rem;
  background: $secondary-bg-subtle;
}
