//
// Login
//

#pmf-admin-login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  #pmf-admin-login-content {
    min-width: 0;
    flex-grow: 1;
  }
}

#faqpassword_toggle {
  cursor: pointer;
}
