<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        <i aria-hidden="true" class="bi bi-exclamation-triangle"></i>
        {{ adminHeaderNoPermission }}
    </h1>
</div>

<p class="alert alert-danger">
    {{ msgNoPermission }}
</p>
