.topbar {
  .nav-item {
    &.dropdown {
      .dropdown-toggle {
        &::after {
          width: 1rem;
          text-align: center;
          float: right;
          vertical-align: 0;
          border: 0;
          font-weight: 900;
          content: '\f105';
          font-family: 'ForkAwesome';
        }
      }
      &.show {
        .dropdown-toggle::after {
          content: '\f107';
        }
      }
    }
    // Nav link image sizing
    .nav-link {
      position: relative;
      .img-profile {
        height: 2rem;
        width: 2rem;
      }
    }
  }
}
