//
// Global definitions
//

html,
body {
  height: 100%;
}

.pmf-admin-footer-links {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.bi-bluesky::before {
  content: '';
  background-color: currentColor;
  -webkit-mask: url('../images/bluesky.svg') no-repeat 50% 50%;
  mask: url('../images/bluesky.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  height: 16px;
  width: 16px;
}
