<div id="main" class="palm-scene palm-light">
    <div id="logo">
        <img src="images/logo.png" width="250px" height="65px" border="0"/>
    </div>

		<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc=''>FAQ Search:</div>
		    <div class="palm-list">
		        <div class="palm-row single">
		            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
		                <div class="title">
		            <div id="search" x-mojo-element="TextField" ></div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

        <div class="palm-row single">
            <div x-mojo-element="Button" id="submit_button" class="buttonClass" name="buttonName"></div>
        </div>
</div>


