<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        {{ adminHeaderUpgrade }}
    </h1>
</div>

<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-2">Online Check for Updates</h5>
                <div class="card-text">

                    <p>
                        You can check for new versions of phpMyFAQ, re-install or update your installation.
                    </p>

                    <!-- Step 1: Check for system health -->
                    <div class="d-grid gap-2 d-md-flex justify-content-between mb-5">
                        <button type="button" class="btn btn-sm btn-primary mb-2" id="pmf-button-check-health">
                            Check for a health
                        </button>
                        <output id="result-check-health"></output>
                    </div>

                    <!-- Step 2: Check for a new version -->
                    <div class="d-grid gap-2 d-md-flex justify-content-between mb-5">
                        <button type="button" class="btn btn-sm btn-primary mb-2" id="pmf-button-check-updates">
                            Check for a new version
                        </button>
                        <output id="result-check-versions"></output>
                    </div>

                    <!-- Nightlies can be downloaded always if activated -->
                    {% if isOnNightlies %}
                    <p>
                        You are using a development version of phpMyFAQ.
                        You can update to the latest nightly build automatically.
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-between mb-5">
                        <button type="button" class="btn btn-sm btn-primary mb-2" id="pmf-button-download-now">
                            Download now
                        </button>
                        <output id="result-download-nightly"></output>
                    </div>
                    {% endif %}

                </div>

            </div>

            <div class="card-footer d-grid gap-2 d-md-flex justify-content-between">
                <span>
                    Last check for updates:
                    <output id="dateLastChecked">{{ dateLastChecked | date('Y-m-d H:i:s') }}</output>
                </span>
                <span>
                    Latest version available:
                    <output id="versionLastChecked">n/a</output>
                </span>
                <span>
                    Release-Environment: <output id="releaseEnvironment">{{ releaseEnvironment }}</output>
                </span>
            </div>
        </div>

    </div>
</div>
